<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <div class="form form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class="form-check-label">
        <%= f.label :correct %>
        <%= f.check_box :correct %>
    </div>
    <div>
        <%= link_to "Remove", '#', class: "remove_fields btn btn-danger" %>
    </div>
</div>