<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<% if @question.answers.any? %>
  <hr>
  <h2>Answers of <%= @question.question </h2>
  <%= render @question.answers %>
  <% <% end 

  <h2>Add answer: </h2>
  <%render 'answers/form', answer: @question.answers.build %> 

<%= link_to 'Edit', edit_question_path(@question), class:"btn btn-light"  %> |
<%= link_to 'Back', questions_path, class:"btn btn-light"  %>
