<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">Student email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr scope="row">
        <td><%= student.id %></td>
        <td><%= student.email %></td>
        <td><%= check_box_tag 'accept' %></td>
        <td><%= link_to 'Show', teacher_students_path(current_teacher.id) %></td>
        <td><%= link_to 'Edit', edit_teacher_student_path(current_teacher.id, student.id) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_teacher_student_path(current_teacher.id), class:"btn btn-light"  %>
