<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment:</strong>
  <%= @test_result.assignment %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @test_result.pass %>
</p>

<%= link_to 'Edit', edit_test_result_path(@test_result) %> |
<%= link_to 'Back', test_results_path %>
