
<h1>Answers</h1>

<form action="/answers" method="GET">
  <input type="text" name="title" >
  <input type="submit" value="Search for test title">
</form>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.answer %></td>
        <td><%= link_to 'Show', answer %></td>
        <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
        <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%== pagy_bootstrap_nav(@pagy).html_safe %>
<br>

<%= link_to 'New Answer', new_answer_path, class:"btn btn-light" %>
