<p id="notice"><%= notice %></p>

<h1>Test Result Items</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Student answer</th>
      <th>Test result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_result_items.each do |test_result_item| %>
      <tr>
        <td><%= test_result_item.question %></td>
        <td><%= test_result_item.student_answer_id %></td>
        <td><%= test_result_item.test_result %></td>
        <td><%= link_to 'Show', test_result_item %></td>
        <td><%= link_to 'Edit', edit_test_result_item_path(test_result_item) %></td>
        <td><%= link_to 'Destroy', test_result_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Result Item', new_test_result_item_path %>
