<p>
  <strong>Question ID:</strong>
  <%= @item.question_id %>
</p>

<p>
  <strong>Answer ID:</strong>
  <%= @item.answer_id %>
</p>

<% if @band.albums.any? %>
  <hr>
  <h2>Questions of <%= @band.name %> </h2>
  <%= render @band.albums %>
<% end %>

  <h2>Add question: </h2>
  <%= render 'albums/form', album: @band.albums.build %>

<%= link_to 'Edit', edit_item_path(@item), class:"btn btn-light"  %> |
<%= link_to 'Back', items_path, class:"btn btn-light"  %>
