<%= form_with(model: test, local: true ) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.select :status, Test.statuses.keys %>
  </div>

  <div class="field dropezone fallback">
    <%= form.label :question_list %>
    <%= form.file_field :question_list %>
    <%# <%= form.fields_for html: {multipart:true, autoProcessQueue: false, class: "dropzone", id: "my-dropzone"} do |dropezone|%> 
      <%# <%= dropezone.file_field :question_list %>
    <%# <% end %>
  </div>  


  <div class="field form-group">
    <%= form.label :due_date %>
    <%= form.date_select :due_date, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :test_teacher_id, value: current_user.id, type: :hidden%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
