<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test.status %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @test.due_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>



<%= link_to 'Edit', edit_teacher_test_path(@test), class:"btn btn-light" %> |
<%= link_to 'Back', teacher_tests_path(current_user.id), class:"btn btn-light" %>
