<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test.status %>
</p>

<p>
  <strong>Question list:</strong>
  <%= @test.question_list %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @test.due_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<% if @test.question.any? %>
  <hr>
  <h2>Questions of <%= @test.title %> </h2>
  <%= render @test.question %>
  <% end %>

  <h2>Add question: </h2>
  <%render 'questions/form', student: @test.question.build %>

<%= link_to 'Edit', edit_teacher_test_path(@test), class:"btn btn-light" %> |
<%= link_to 'Back', teacher_tests_path(current_teacher.id), class:"btn btn-light" %>
